server:
  port: 8080
  servlet:
    context-path: /api
spring:
  profiles:
    active: ${PROFILE_ACTIVE:local},postgres
  application:
    name: spring-shopping-cart-java
  liquibase:
    change-log: classpath:db/db.changelog-master.xml
    enabled: true
    default-schema: ${shopping-cart-properties.sql.schema-context}
    parameters:
      schema: ${shopping-cart-properties.sql.schema-context}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: ${shopping-cart-properties.sql.schema-context}
  sql:
    init:
      mode: never
  datasource:
    url: jdbc:${NF_DB_SHOPPING_CART_POSTGRES_URI:postgresql://localhost:5434/shopping-cart}
    username: ${NF_DB_SHOPPING_CART_ADMIN_USERNAME:root}
    password: ${NF_DB_SHOPPING_CART_ADMIN_PASSWORD:pwd}
  webflux:
    base-path: /api/v2
logging:
  level:
    root: warn
    com.bruno.shoppingjava: debug
shopping-cart-properties:
  sql:
    schema-context: "shopping_cart"

